# Node Modules
/node_modules
/front-end/node_modules
/olx-web/node_modules

# Build Folders
/front-end/build
/front-end/dist

# Environment Variables
/.env
/front-end/.env
/olx-web/.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
